@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer components {
  /* layout */
  .base-container {
    @apply lg:max-w-[1024px] xl:max-w-[1200px] mx-auto w-full px-3 lg:px-0;
  }
  .min-h-main {
    min-height: calc(100vh - var(--header));
    min-height: calc(100svh - var(--header));
  }
  .h-main {
    height: calc(100vh - var(--header) - 4rem);
    height: calc(100svh - var(--header) - 4rem);
  }
  /* animation */
  .animation-duration-8000 {
    animation-duration: 8s;
  }
  .animation-duration-10000 {
    animation-duration: 10s;
  }
  /* box */
  .box {
    @apply p-4 bg-white bg-opacity-30;
  }
  .box-outline {
    @apply border border-gray-400 p-4;
  }
  .box-outline-joint {
    @apply border-x border-b lg:border border-gray-400 p-4 -mt-5 lg:m-0;
  }
  .box-sub {
    @apply p-2 md:bg-black md:bg-opacity-10 border-b md:border-0 border-gray-400;
  }
  /* flex */
  .base-gap {
    @apply gap-5 md:gap-5 lg:gap-4 xl:gap-8;
  }
  .w-2col {
    @apply w-full md:w-[calc(50%-(1.25rem/2))] lg:w-[calc(66.77%-(1rem/2))] xl:w-[calc(67%-(2rem/2))];
  }
  .w-1col {
    @apply w-full md:w-[calc(50%-(1.25rem/2))] lg:w-[calc(33.33%-(2rem/3))] xl:w-[calc(33.33%-(4rem/3))];
  }
  .w-2col-md {
    @apply w-full lg:w-[calc(66.77%-(1rem/2))] xl:w-[calc(67%-(2rem/2))];
  }
  .w-1col-md {
    @apply w-full lg:w-[calc(33.33%-(2rem/3))] xl:w-[calc(33.33%-(4rem/3))];
  }
  /* button */
  .button {
    @apply w-full font-bold flex justify-center items-center border duration-300;
  }
  .button-primary {
    @apply bg-blue-300 text-white lg:hover:bg-white lg:hover:text-blue-300 active:bg-white active:text-blue-300 border-blue-300;
  }
  .button-secondary {
    @apply bg-white text-blue-300 lg:hover:bg-blue-300 lg:hover:text-white active:bg-blue-300 active:text-white border-blue-300;
  }
  .button-lg {
    @apply h-14 text-lg;
  }
  .button-sm {
    @apply h-10 text-base;
  }
  /* background */
  .bg-white-gradient-100 {
    background: linear-gradient(
      to right,
      transparent 0%,
      #ffffff55 30%,
      #ffffff55 70%,
      transparent 100%
    );
  }
  .bg-left-top-80 {
    background-position: left top var(--header) !important;
  }
  /* markdown */
  .md-content h2,
  .md-content h3 {
    @apply text-lg p-2 bg-black bg-opacity-20 font-bold my-6;
  }
  .md-content h4 {
    @apply font-bold text-base pb-1 px-1 my-6 border-b border-gray-400;
  }
  .md-content p {
    @apply mb-2;
  }
  .md-content pre {
    @apply mb-2;
  }
  .md-content strong {
    @apply font-bold;
  }
  .md-content a {
    @apply text-blue-500 underline;
  }
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1.625;
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  --header: 80px;
  --footer: 120px;
  scroll-padding-top: var(--header);
}
