@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* layout */
  .base-container {
    @apply lg:max-w-[1024px] xl:max-w-[1200px] mx-auto w-full px-3 lg:px-0;
  }
  .min-h-main {
    min-height: calc(100vh - var(--header));
    min-height: calc(100svh - var(--header));
  }
  .h-main {
    height: calc(100vh - var(--header) - 4rem);
    height: calc(100svh - var(--header) - 4rem);
  }
  .box-base {
    @apply p-4;
  }
  .box-white {
    @apply box-base bg-brightness-80;
  }
  .box-gray {
    @apply box-base bg-brightness-40;
  }
  /* flex */
  .gap-base {
    @apply gap-5 md:gap-5 lg:gap-4 xl:gap-8;
  }
  .w-2col {
    @apply w-full md:w-[calc(50%-(1.25rem/2))] lg:w-[calc(66.77%-(1rem/2))] xl:w-[calc(67%-(2rem/2))];
  }
  .w-1col {
    @apply w-full md:w-[calc(50%-(1.25rem/2))] lg:w-[calc(33.33%-(2rem/3))] xl:w-[calc(33.33%-(4rem/3))];
  }
  .w-2col-md {
    @apply w-full lg:w-[calc(66.77%-(1rem/2))] xl:w-[calc(67%-(2rem/2))];
  }
  .w-1col-md {
    @apply w-full lg:w-[calc(33.33%-(2rem/3))] xl:w-[calc(33.33%-(4rem/3))];
  }
  /* background */
  .bg-white-gradient-100 {
    background: linear-gradient(
      to right,
      transparent 0%,
      #ffffff55 30%,
      #ffffff55 70%,
      transparent 100%
    );
  }
  .bg-left-top-80 {
    background-position: left top var(--header) !important;
  }
  /* markdown */
  .md-content {
    @apply text-base;
  }
  .md-content h2 {
    @apply text-xl px-2 py-3 border-b border-l-4 border-grayscale-400 font-bold mt-14;
  }
  .md-content h3 {
    @apply text-lg px-2 pb-2 pt-1 border-b border-grayscale-400 font-bold mt-8;
  }
  .md-content h2 a,
  .md-content h3 a {
    @apply text-current hover:underline no-underline text-xs inline-block pr-1;
  }
  .md-content p {
    @apply mt-6;
  }
  .md-content pre {
    @apply mb-2 p-4;
  }
  .md-content strong {
    @apply font-bold;
  }
  .md-content a {
    @apply underline lg:hover:no-underline;
  }
  .md-content hr {
    @apply my-10 border-grayscale-400;
  }
  /* others */
  .lg-only-border-b {
    @apply !border-b-0 lg:!border-b;
  }
  .lg-only-border-t {
    @apply !border-t-0 lg:!border-t;
  }
  .link {
    @apply underline lg:hover:no-underline;
  }
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1.625;
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  --header: 80px;
  --footer: 120px;
  @apply md:scroll-p-[var(--header)] text-grayscale-800;
}
